# Ignore virtual environment
venv/

# Ignore Python cache and system files
__pycache__/
*.py[cod]
*.sqlite3

# Ignore macOS system files
.DS_Store

# Ignore other temporary files and logs
*.log
*.tmp
*.swp
*.swo

# Ignore VSCode and other IDE-specific folders
.vscode/
.idea/
