# Node.js and Frontend Dependencies
node_modules/
.pnp/
.pnp.js

# Frontend Production and Testing
/frontend/build
/coverage

# Backend Python Virtual Environment
backend/venv/

# Python Cache Files
__pycache__/
*.py[cod]

# Environment and Log Files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
.idea/
.vscode/
