/* Override Bootstrap primary color */
.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.bg-dark {
  background-color: #2F4F4F !important; /* Dark slate gray */
}

.text-white {
  color: #F5F5DC !important; /* Beige */
}

/* Custom styles for components */
.App-header {
  background-color: #2F4F4F;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #F5F5F5; /* White smoke */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
  background-color: #FAFAD2; /* Light goldenrod yellow */
}

footer {
  background-color: #2F4F4F;
  color: #F5F5DC;
  padding: 10px;
}

nav .btn-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

nav .btn-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #F5F5DC; /* Match your text color */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

nav .btn-link:hover::after {
  transform: scaleX(1);
}
